.wholediv
{
    background-color: black;
    float: left;
    height: 36px;
    line-height: 36px;
    
}
.float-left
{
    float: left;
}
.float-right
{
    float:right;
}
.vip-div
{
    background-color: #9f599b;
}
.shopping-color
{
    margin-left: 24px;
    color: #fe7900 !important;
}
.text-font-next-shopp
{
    font-size: 11px;
    color: #8b8b8b;
}
.purple-div{
    padding: 10px;
    font-size: 12px;
}