.form-control-sm {
    border-radius: 1.2rem;
}
// .navbar-dark .navbar-nav .nav-link  {
//     color: #020202;
// }
.orange-color-change {
    color: #fff !important;
    background-color:  #fe7900;
    border: none;
}
.form-control-sm{
border: 2px solid #ced4da;
}
.heading-title-font
{
        font-size: 13px;
}
.main-header-name
{
    color: black !important;
}
.left-to-go
{
    margin-right: 119px;
}
