
$border-line:1px solid #80808029;
$button-orange:#f57f09;

.contenthead-font-size {
    font-size: 10px;
  }
  .contenttext-border-right {
    border-right: $border-line;
  }
  .contenttext-border-bottom {
    border-bottom: $border-line;
  }
  .card-body {
    background-color: #8080803b;
  }
  .card-img-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .card {
    border-radius: 0;
  }
  .btn-sm,
  .btn-group-sm > .btn {
    border-radius: 0;
  }
  .margin-rating {
    font-size: 15px;
  }
  .timmer-color {
    font-size: 11px;
    color: $button-orange
  }
  .svg-inline--fa.fa-w-18 {
    width: 0.7em;
    padding-right: 2px;
    color: $button-orange
  }
  .svg-inline--fa.fa-w-17 {
    width: 0.7em;
    color: $button-orange;
    padding-right: 2px;
}
  .votes-font {
    font-size: 12px;
  }
  
  .release-font-color {
    color: #b3aeae;
  }
  .release-date-color {
    color: #615d5d;
  }
  .rating-border
  {
    border: 2px solid white;
  }
  .bg-orange{
    background-color:  #fe7900;
    color: white;
  }
  .card-body {
    background-color: #8080803b;
    padding-right: 0px;
    padding-left: 13px;
    padding-top: 14px;
    padding-bottom:0px;
}
.sm-div-font{
  font-size: 10px;
  padding: 5px 8px;
}
.picname-head-font{
  font-size: 17px;
}
.movie-info-space{
  margin: 10px 0px;
}
.movie-heading-font{
  font-size:10px;
}
.movie-text-font{
  font-size:11px;
}
.timer-lineheight{
  line-height: 20px;
}
.clock-fontsize{
  font-size: 10px;
}
.review-point-font{
  padding: 6px 8px;
}
.votes-linehegiht{
  line-height: 8px;
}
.img-height{
  height: 200px;
  width: 130px;
}